html {
  padding:0px;
  margin:0px;
  border:0px;
}
body {
  padding:0px;
  margin:0px;
  border:0px;
}
#header {
  margin:0px;
  background-image:url(/img/header.png);
  background-size:cover;
  background-position:top;
  background-attachement:fixed;
}
#nav {
  background-color: #cccccc;
  float: left;
}
#nav ul li {
  text-decoration: none;
  float: left;
  display: block;
}
