.header {
  margin:0px;
  background-image:url(/img/header.png);
  background-size:cover;
  background-position:top;
  background-attachement:fixed;
}
.nav {
  background-color: #cccccc;
}
.nav ul li {
  text-decoration: none;
  float: left;
  display: block;
}
