@font-face {
  font-family: "Fish&Chips";
  src: url('FISH&CHIPS-Regular.ttf');
}
@font-face {
  font-family: "Roboto";
  src: url('Roboto-Regular.ttf');
}
html {
  overflow-x: hidden;
  background: #4c4c4c; /* Old browsers */
  background: -moz-linear-gradient(top,  #4c4c4c 0%, #565656 50%, #4c4c4c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #4c4c4c 0%,#565656 50%,#4c4c4c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #4c4c4c 0%,#565656 50%,#4c4c4c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#4c4c4c',GradientType=0 ); /* IE6-9 */
}
.header {
  height: 50vh;
  width: 100vw;
  margin:0px;
  /* background: url("../img/NewZealand.png"); */
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  margin:0px;
  padding:0px;
  border:0px;
}
.nav {
}
.nav ul li {
  text-decoration: none;
  float: left;
  display: block;
}
.information-block {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,565656+50,4c4c4c+100 */
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #565656 50%, #4c4c4c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#565656 50%,#4c4c4c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4c4c4c 0%,#565656 50%,#4c4c4c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#4c4c4c',GradientType=0 ); /* IE6-9 */
/*height: 50vh;*/
}
.in-segment {
  height: 100%;
}
.header-block {
  font-family: "Roboto";
  margin: 0px;
  max-width: 1000px;
  padding: 30px;
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color:white;
  border: solid 1px white;
  overflow: hidden;
  background: rgba(0, 0, 0, .45);
  }
.img-block {
  height: 100%;
  position: relative;
  text-align: center;
  float: left;
  top:50%;
  transform: translateY(50%);
  -ms-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -o-transform: translateY(50%);
}
.header-block .info {
  min-height:20vh;
  text-align: right;
  height: 100%;
  width: 50%;
  float: right;
}
.header-block .info hr {
  width: auto;
}
.header-block hr {
  border-color: #ff6600;
  width: 15vw;
}
.btn.outline {
	background: none;
	padding: 12px 22px;
}
.btn-primary.outline {
	border: 2px solid white;
	color: white;
  -webkit-transition: border-color .4s ease-out, color .4s ease-out;
-moz-transition: border-color .4s ease-out, color .4s ease-out;
-o-transition: border-color .4s ease-out, color .4s ease-out;
transition: border-color .4s ease-out, color .4s ease-out;

}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #ff9147;
	border-color: #ff9147;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}
.nav {
  height: 50px;
  background-color: #4c4c4c;
}
.nav ul li {
  -webkit-transition: background-color .4s ease-out;
  -moz-transition: background-color .4s ease-out;
  -o-transition: background-color .4s ease-out;
  transition: background-color .4s ease-out;
}
.nav ul li a {
  color: #e8e8e8;
  display: block;
  padding: 15px;
  margin: 0px;
  border: 0px;
}
.nav ul li a:hover {
  text-decoration: none;
  color:#e8e8e8;
}
.nav ul li:hover {
  color:#4c4c4c;
  text-decoration: none;
  background-color: rgba(255, 102, 0, .9);
}
.nav li a.active {
	position: relative;
	background: rgba(255, 102, 0, .9);
  color: #e8e8e8;
}
.nav li a.active:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(204, 204, 204, 0);
	border-top-color: rgba(255, 102, 0, .9);
	border-width: 20px;
	margin-left: -20px;
}
.photo {
  margin-top: 30px;
  border-radius: 100%;
  max-width: 40vw;
}
.information-text {
  color: white;
}
.information-text hr {
  border-color: #ff6600;
  max-width: 40vh;
}
.info-button {
  font-size: 1.2em;
  padding: 10px;
  background-color: rgba(255, 102, 0, 1);
  border-bottom: solid 5px rgba(0, 0, 0, .3);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  color:white;
  border-radius: 4px;
  -webkit-transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
}
.info-button:hover {
  background-color: #4c4c4c;
}
